@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//색상을 유동성있게 활용할 수 있도록 css VAR 설정
$font-family: var(--font-family);
$text-color: var(--text-color);
$body: var(--body-color);
$label: var(--label-color);
$placeholder: var(--placeholder-color);
$line: var(--line-color);
$background: var(--background-color);
$off-white: var(--off-white-color);
$primary: var(--primary-color);
$primary2: var(--primary2-color);
$primary3: var(--primary3-color);
$error: var(--error-color);
$category1: var(--category1-color);
$category2: var(--category2-color);
$category3: var(--category3-color);
$category4: var(--category4-color);
$category5: var(--category5-color);
$category6: var(--category6-color);
$category7: var(--category7-color);
$category8: var(--category8-color);
$category9: var(--category9-color);
$category10: var(--category10-color);

$config: (
  dark: (
    font-family: 'Noto Sans Kr' sans-serif,
    text-color: #fcfcfc,
    body: #3c3e3e,
    label: #f5f5f5,
    placeholder: #f5f5f5,
    line: #ccd3d3,
    background: #1e2222,
    off-white: #fcfcfc,
    primary: #2ac1bc,
    primary2: #a0e1e0,
    primary3: #219a95,
    error: #f45452,
    category1: #6ed5eb,
    category2: #4cb8b8,
    category3: #94d3cc,
    category4: #4ca1de,
    category5: #d092e2,
    category6: #817dce,
    category7: #4a6cc3,
    category8: #b9d58c,
    category9: #e6d267,
    category10: #e2b765,
  ),
  light: (
    font-family: 'BMJUA',
    text-color: #1e2222,
    body: #f1f1f1,
    label: #8b9999,
    placeholder: #c1c5c5,
    line: #929696,
    background: #f5f5f5,
    off-white: #fcfcfc,
    primary: #2ac1bc,
    primary2: #a0e1e0,
    primary3: #219a95,
    error: #f45452,
    category1: #6ed5eb,
    category2: #4cb8b8,
    category3: #94d3cc,
    category4: #4ca1de,
    category5: #d092e2,
    category6: #817dce,
    category7: #4a6cc3,
    category8: #b9d58c,
    category9: #e6d267,
    category10: #e2b765,
  ),
);

@function setStyle($map, $object, $style) {
  @if map-has-key($map, $object) {
    @return map-get(map-get($map, $object), $style);
  }
  @warn "The key ´#{$object} is not available in the map.";
  @return null;
}

@mixin theme($key) {
  --font-family: #{setStyle($config, $key, font-family)};
  --text-color: #{setStyle($config, $key, text-color)};
  --title-active-color: #{setStyle($config, $key, title-active)};
  --body-color: #{setStyle($config, $key, body)};
  --label-color: #{setStyle($config, $key, label)};
  --placeholder-color: #{setStyle($config, $key, placeholder)};
  --line-color: #{setStyle($config, $key, line)};
  --background-color: #{setStyle($config, $key, background)};
  --off-white-color: #{setStyle($config, $key, off-white)};
  --primary-color: #{setStyle($config, $key, primary)};
  --primary2-color: #{setStyle($config, $key, primary2)};
  --primary3-color: #{setStyle($config, $key, primary3)};
  --error-color: #{setStyle($config, $key, error)};
  --category1-color: #{setStyle($config, $key, category1)};
  --category2-color: #{setStyle($config, $key, category2)};
  --category3-color: #{setStyle($config, $key, category3)};
  --category4-color: #{setStyle($config, $key, category4)};
  --category5-color: #{setStyle($config, $key, category5)};
  --category6-color: #{setStyle($config, $key, category6)};
  --category7-color: #{setStyle($config, $key, category7)};
  --category8-color: #{setStyle($config, $key, category8)};
  --category9-color: #{setStyle($config, $key, category9)};
  --category10-color: #{setStyle($config, $key, category10)};
}

//기본적으로 lightTheme 적용
body {
  font-family: $font-family;
  @include theme(light);
  background-image: linear-gradient(180deg, $background, $background, $body);
  color: $text-color;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  // body 스코롤바 제거
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

//컴퓨터가 dark모드로 되있을 경우 상태적용
@media (prefers-color-scheme: dark) {
  body {
    @include theme(dark);
  }
}

//body에 클래스 토글시 컬러 변경
@each $theme in dark, light {
  body.#{$theme}-mode {
    @include theme($theme);
  }
}

//media Query를 위한 설정
$pc-max-width: 1050px;
$tablet-max-width: 768px;
$phone-max-width: 425px;
html {
  font-size: clamp(10px, 2vw, 16px);
  @media (max-width: $tablet-max-width) {
    font-size: clamp(10px, 2.5vw, 14px);
  }
  @media (max-width: $phone-max-width) {
    font-size: clamp(10px, 3vw, 12px);
  }
}

.ledger-category {
  border-radius: 3em;
  color: $off-white;
  padding: 0.3em 0 0.2em;
  font-size: 0.85em;
  text-align: center;
}

button:focus {
  outline: none;
}

.no-data {
  font-size: 2em;
  position: relative;
  margin: 1em auto;
}
